@using BookMarket.Models
@model List<MyBooks>
@{
    ViewData["Title"] = "Rental Cart";
}

<h2>Rental Cart</h2>
<br />
<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Price per week</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
            <tr>
                <td>
                    <img src="~/@item.Image" width="200" height="150" />
                </td>
                <td>@item.Title</td>
                <td>R @item.Price</td>
                <td>@item.Categories.Category</td>
                <td>
                    <a asp-action="Remove" asp-controller="Rentals" asp-route-id="@item.Id" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-6">
       
    </div>
    <div class="col-6 text-right">
        <h3>Total Amount</h3>
        <h3>Grand Total: R @Model.Sum(c => c.Price)</h3>
        <a asp-area="Customer" asp-action="Index" asp-controller="Home" class="btn btn-danger">Cancel</a>
        <a asp-area="Customer" asp-action="Details" asp-controller="RentOrder" class="btn btn-info">Checkout</a>
    </div>
</div>

